body {
    background-color: #f1baf2;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: HSL(314, 40%, 64%);

}

table.main {
    table-layout: fixed;
}

.navbar>.left {
    float: left;
}

.primary> {
    width: 30px;
}

table.primary tr {
    height: 60px;
    width: 30px;
}

table.msg {
    font-size: small;
}

li a.home {
    float: left;
    display: block;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    background-color: HSL(314, 40%, 64%);
    text-decoration: none;
    color: black;
}

li a {
    float: right;
    display: block;
    text-align: center;
    padding: 1% 1%;
    background-color: HSL(314, 40%, 64%);
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: #F1BAF2;
}

div {
    height: 200px;
    background-color: #F1BAF2;
    border-color: RGB(134, 27, 136);
    border-width: 1px;
    border-style: solid;
    overflow-wrap: break-word;
    text-align: center;
}

div.big {
    height: 200%;
}

div.huge {
    height: 200px;
}

div.small {
    height: 140px;
}

div.smaller {
    height: 60px;
}

div.jobtable {
    height: 500px;
}

.jobtable.flex>table {
    width: 100%;
}

.jobtable.flex.one.fourth>div {
    height: 166px;
}

.jobtable.flex.one.fourth img {
    height: 100%;
}

.jobtable.flex.two-third>.full {
    height: 350px;
}

.jobtable.flex.third>.full {
    height: 350px;
}

.jobtable.flex.third>.full>img {
    width: 300px;
}

.jobtable.flex.two-third>.full.flex :first-child::first-line {
    color: darkorchid;
}

.navbar>.left {
    width: 120px;
}

div.userleft {
    height: 170px;
}

div.video {
    height: 150px;
}

.full.video>video {
    width: 320px;
    height: 150px;
}

.primary {
    width: 100%;
}

.half.small>a>img {
    width: 110px;
}

.half.small {
    text-align: center;
}

td>img {
    width: 40px;
}

.primary.msg.main tr>td:first-child {
    width: 30%;
}

.primary.msg.main tr>td:second-child {
    width: 70%;
}


/*add pseudoelemet and attributes*/