body {
    background-color: #f1baf2;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #c880b7;

}

img {
    margin: 0;
    padding: 0;
}

table.main {
    table-layout: fixed;
}

.navbar>.left {
    float: left;
}

.primary> {
    width: 30px;
}

table.primary tr {
    height: 60px;
    width: 30px;
}





table.msg {
    font-size: small;
}

li a.home {
    float: left;
    display: block;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #c880b7;
    text-decoration: none;
    color: black;
}

li a {
    float: right;
    display: block;
    text-align: center;
    padding: 1% 1%;
    background-color: #c880b7;
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: #F1BAF2;
}

div {
    height: 200px;

    background-color: #F1BAF2;
    border-color: #861b88;
    border-width: 1px;
    border-style: solid;
    overflow-wrap: break-word;
}

div.big {
    height: 200%;
}

div.huge {
    height: 200px;
}

div.small {
    height: 140px;
}

div.smaller {
    height: 60px;
}

div.jobtable {
    height: 500px;
}

.jobtable.flex.one.fourth>div {
    height: 166px;
}

.jobtable.flex.one.fourth img {
    height: 100%;
}

div.userleft {
    height: 170px;
}